
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Generated data
volumes/app/mattermost/client-plugins
volumes/app/mattermost/data
volumes/app/mattermost/logs
volumes/app/mattermost/plugins
volumes/db
volumes/web
kcg-plugin/**/*


